* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background: #000;
    background-size: cover;
    background-position: center;
    min-height: auto;

}
.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}
.logo {
    width: 100%;
    background: #545252;
    float: left;
    position: absolute;
}



.logo img {
    float: left;
    max-width: 15vw;
    min-height: auto;
    transform: translateY(10%);

}
.menu {
    max-width: auto;
}
.menu ul {
    display: flex;
    flex-direction:row;
    padding-left: 4rem;
}

.menu ul li {
    list-style: none;
    padding-left: 20px;
    margin-left: 4%;
    margin-top: 6%;
    transform: translateX(110%);
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    transition: .4s ease-in-out;
    cursor: pointer;

}
.menu ul li a:hover {
    color: yellow;
    text-decoration: none;
}

.main {
    background: #000;
    width: cover;
    min-height: auto;

}
.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('20250405_123057.jpg') no-repeat center/cover;
    height: 70vh;
    display: inline-block;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero p {
    font-size: 0.8rem;
    font-family:'Courier New', Courier, monospace;
}
.hero span {
    font-size: 1.5rem;
    color: bisque;
}

.statement {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 100vw;
    min-height: 40vh;
    text-align: left;
    margin: 5%;
    border-top: 1px solid;
    color: #fff;
    justify-content: center;
    text-align: center;
    border: 2px solid #fff;
    box-shadow: 5px 10px 10px #888888;
    
}
.vision {
    transform: translateY(10%);
}
h2 {
    color: #fff;
    font-size: 1.5rem;
}
.mission {
     transform: translateY(20%);
     height: 30vh;
         
}


.hr {
    font-size: 0.7rem;
    position: relative;
    transform: translateY(100%);
    border-bottom: 1px solid #fff;
    max-width: 100vw;
    margin: 5%;
    color: blanchedalmond;

}
.hr p {
    margin: 5%;
}

.news img {
    width: 100vw;
    height: 40vh;
    position: relative;
    transform: translateY(15%);
}
.news1 {
    font-size: 0.7rem;
    color: blanchedalmond;
    transform: translateY(60%);
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.news1 span {
    color: #fff;
    font-size: 1rem;
    font-family: Tahoma;
    

}
.news a {
    color: red;
    transition: .4s ease-in-out;
    text-decoration: none;
}
.news a:hover {
    text-decoration: none;
    transform: scale(1.0);
    cursor: pointer;

}

.news2 img {
    width: 100vw;
    height: 20vh;
    position: relative;
    transform: translateY(15%);

}


.news2 a {
    transform: scale(1.0);
    transition: .4s ease-in-out;
    text-decoration: none;
}
.news2 a:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;

}
.news-1 {
    font-size: 0.6rem;
    color: blanchedalmond;
    transform: translateY(10%);
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.news-1 span {
    color: #fff;
    font-size: 1rem;
    font-family: Tahoma;
}

.more {
    text-align: center;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    
}
.more a {
    text-decoration: none;
    color: blanchedalmond;
    transition: .4s ease-in-out;
    transform: translateY(20%);

    
}
.more a:hover {
    text-decoration: none;
    color: black;
}
.close {
    background: #000;
    max-width: 100vw;
    min-height: auto;
    margin-top: 40px;
    border-top: 2px solid #fff;

    

}
.close img:hover {
    transform: scale(1.1);
    transition: .4s ease-in-out;
    cursor: pointer;
}
.close img {
    width: 30vw;
    height: 12vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    display: block;

    
}

.socials {
    display: flex;
    flex-direction: row;
    width: 80vw;
    gap: 5px;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    transform: translateY(-30%);
}
.social-icon {
    color: #fff;
    width: 30vw;
    transition: .4s ease;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    transform: translateY(-30%);

}
.social-icon:hover {
    color: red;
    transform: scale(0.9);
    cursor: pointer;

}
.lgd {
    color: #fff;
    font-size: 0.7rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 23%;
    transform: translateY(-150%);
    text-transform: uppercase;
    color: blanchedalmond;
    letter-spacing: 2px;


}
.history {
    color: #fff;
    font-size: 0.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 5%;
    transform: translateY(-50%);
    line-height: 1.5rem;
}
.about {
    color: #fff;
    font-size: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2%;;
    line-height: 1rem;
    
}

.about h3 {
    color: #fff;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2%;
    transform: translate(5%, -320%);
    position: relative;
    text-align: justify;
}
.about-1 {
    color: #fff;
    font-size: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2%;
    width: 50vw;
    min-height: 2vh;
    line-height: 0.8rem;
    transform: translateY(-30%);
}
.about-1 p {
    color: #fff;
    font-size: 0.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2%;
    width: 80vw;
    min-height: 5vh;
    line-height: 0.9rem;
    transform: translateY(-17%);

}

footer {
    font-size: 0.6rem;
    color: #ccc;
    align-items: center;
    text-align: center;
}
.olumo {
    font-size: 3.3rem;
    padding: 4rem 1.8rem;
    margin: 0;
    transform: translateY(6%);

}
.writer-time {
    display: flex;
    gap: 4rem;
    margin: 2%;
    color: navajowhite;
    font-size: 0.8rem;
    position: relative;
    padding-left: 20px;
    
}
.wale {
    width: 100vw;
    
}
.first p{
    color: #fff;
    text-align: justify;

}
.wales {
    width: 70vw;
}


@media all and (max-width:500px) {
    body {
    color: rgb(57, 51, 51);
}
}
@media all and (min-width:767px) {
    body {
    color: green;
}
}

@media (orientation: landscape) {
    .pic img {
    width: 20vw;
    height: 40vh;
    border-radius:50%;
    margin: 10%;
    transform: translateY(35%);
    }
}
@media (orientation: landscape) {
    .begin {
    max-width: 100%;
    margin: 5%;
    top: 100%;
  

}

}
