* {
    margin: 1;
    padding: 1;


}

.logo {
    background: black;
    max-width: 100%;
    min-height: 250px;
    color: #fff;
    text-align: center;
    
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: auto;
    transform: translateY(25%);
    
    
}

img {
    float: left;
    width: 120px;
    height: 100px;
    transform: translate(-13%,-10%);  
    
}

.vision {
    font-family: inherit;
    font-size: inherit;
    color: black;
    top: 30%;
    background-color: blanchedalmond;
    text-align: justify;
}
.vision p {
    font-size: 20px;
    transform: translateY(10%);

}
.mission {
    background: grey;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    text-align: justify;
    transform: translateY(10%);

}
h3 {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 70%;
}
